:root {
    --text: #c0caf5;
    --base: #1a1b26;
    --yellow: #facc15;
}

* {
    font-family: monospace;
}

window {
    background-color: transparent;
    color: var(--text);
}

.rbackground {
    background: var(--base);
    border-radius: 20px;
    padding: 2px 10px;
}

.cbackground {
    &.inactive {
        background: transparent;
    }
}

.custom_b {
    background: none;
    border: none;
    outline: none;
    color: var(--text);
}

.volume {
    padding-right: 5px;
}

.launcher {
    padding-left: 4px;
    padding-top: 4pt;
    padding-bottom: 4pt;
    color: var(--text);
}

.workspaces {
    padding-top: 2px;
    min-height: 28px;

    label {
        font-size: 14pt;
        letter-spacing: 0px;
        min-width: 14pt;
        min-height: 10pt;
        border-radius: 20px;
        padding: 1px 2px 0px;
        margin: 0 2.5pt;

        transition: all 0.4s ease-out;

        &.occupied {
            background: radial-gradient(
                circle at bottom,
                #565f89 20%,
                var(--base)
            );
            min-width: 32px;
        }

        &.active {
            background: linear-gradient(to top, #2ac3de 5%, var(--base));
            min-width: 46px;
        }
    }
}

.client-title {
    padding: 2px 0 0 8pt;
    font-size: 10pt;
}

.clients {
    padding: 0 1px;
}

.baseclient {
    &.clientchild {
        border: none;
        transition: all 0.2s ease-in-out;
        padding-top: 3px;
        border-radius: 25px;

        &.active {
            background: linear-gradient(to top, #2ac3de 5%, var(--base));
            min-width: 48px;
        }
    }
}

.inline {
    background-color: transparent;
    padding: 0px;
}

.systray {
    padding: 0 4px;

    .trayitem {
        padding: 2px 3px;
        border-radius: 4px;
        transition: background 0.15s ease;

        &:hover {
            background: #ffffff1a;
        }
    }
}

.time {
    color: var(--text);
    padding-right: 6px;
}

.profile {
    padding-right: 6px;
}

.vc {
    color: var(--yellow);
}
